&.signed-out {
  float: right;
  text-align: center;

  a {
    color: $color-grey-dark;
    border-bottom: 1px solid $color-grey-dark;
    font-size: 15px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-weight: 300;
    padding: 0 5px 6px;
    margin-top: 20px;
    display: inline-block;

    &:hover {
      color: $color-black;
      border-bottom-color: $color-teal;
    }

    &.current {
      color: $color-grey-blue;
      border-bottom: 3px solid $color-teal;
      font-weight: 800;
    }

    &:last-child {
      margin-left: 12px;
    }
  }
}