<p id="notice"><%= notice %></p>

<% page_title 'Issues' %>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Summary</th>
    </tr>
  </thead>

  <tbody>
    <% @issues.each do |issue| %>
      <tr>
        <td>#<%= issue.id %></td>
        <td><%= issue.summary %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Issue', new_issue_path %>
