<article>
  <h4><strong>#<%= @issue.id %></strong> <%= @issue.summary %></h4>

  <%= GitHub::Markup.render('issue.markdown', @issue.description).html_safe %>

  <div>
    <%= link_to 'Edit', edit_issue_path(@issue) %>
  </div>

</article>
