<% page_title 'Tasks' %>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Summary</th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td>#<%= task.id %></td>
        <td><%= task.summary %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>
