<% page_title "#{project_context} / #{@project}", subtitle: "#{@task.type} ##{@task.to_param}" %>

<article>
  <h4>Notes:</h4>
  <%= GitHub::Markup.render('task.markdown', @task.description).html_safe %>
</article>
