// Clear fix
// --------------------------------------------------------
// Provides an easy way to include a clearfix for containing floats.
//
@mixin clearfix {
  &::after {
    clear: both;
    content: '';
    display: block;
  }
}
