textarea,
input:not([type]),
input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="text"],
input[type="file"],
input[type="url"] {
  width: 100%;
  vertical-align: top;
}

/* Set max height on unusual input */
::-webkit-datetime-edit,
::-webkit-inner-spin-button {
  height: 1.2142em;
}

input:not([type]),
input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="text"],
input[type="url"] {
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  margin: 0em;
  outline: none;
  appearance: none;
  tap-highlight-color: rgba(255, 255, 255, 0);
  line-height: 1.2142em;
  padding: 0.67861429em 1em;
  font-size: 1em;
  background: #FFFFFF;
  border: 1px solid rgba(34, 36, 38, 0.15);
  color: rgba(0, 0, 0, 0.87);
  border-radius: 0.28571429rem;
  box-shadow: 0em 0em 0em 0em transparent inset;
  transition: color 0.1s ease, border-color 0.1s ease;
}

textarea {
  margin: 0em;
  appearance: none;
  tap-highlight-color: rgba(255, 255, 255, 0);
  padding: 0.78571429em 1em;
  background: #FFFFFF;
  border: 1px solid rgba(34, 36, 38, 0.15);
  outline: none;
  color: rgba(0, 0, 0, 0.87);
  border-radius: 0.28571429rem;
  box-shadow: 0em 0em 0em 0em transparent inset;
  transition: color 0.1s ease, border-color 0.1s ease;
  font-size: 1em;
  line-height: 1.2857;
  resize: vertical;
}

textarea:not([rows]) {
  height: 12em;
  min-height: 8em;
  max-height: 24em;
}

textarea,
input[type="checkbox"] {
  vertical-align: top;
}

.select2-container {
  .select2-selection--single {
    padding: 3px;
    height: auto;
    color: rgba(0, 0, 0, 0.87);
    border-color: rgba(34, 36, 38, 0.15);

    &[aria-expanded=true] {
      border-color: #85B7D9;
    }

    .select2-selection__arrow {
      height: 34px;
    }
  }

  .select2-dropdown {
    border-color: #85B7D9;
  }
}

// select {
//   display: block;
//   height: auto;
//   width: 100%;
//   background: #FFFFFF;
//   border: 1px solid rgba(34, 36, 38, 0.15);
//   border-radius: 0.28571429rem;
//   box-shadow: 0em 0em 0em 0em transparent inset;
//   padding: 0.62em 1em;
//   color: rgba(0, 0, 0, 0.87);
//   transition: color 0.1s ease, border-color 0.1s ease;
// }