nav {
  display: inline-block;
  margin-top: 15px;

  @include media('>=tablet') {
    margin-top: 36px;
  }

  &:last-child {
    position: absolute;
    right: 0;

    ul li:first-child a {
      font-weight: 400;
      color: #000;
    }
  }

  ul {
    margin: 0;

    li:not(.avatar) {
      display: inline-block;
      margin: 0 16px 0 0;

      a {
        color: $color-grey-dark;
        display: inline-block;
        border-bottom: 1px solid $color-grey-dark;
        font-size: 15px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        font-weight: 300;
        padding: 0 5px 6px;

        &:hover {
          color: $color-black;
          border-bottom-color: $color-teal;

          .fa {
            color: $color-teal;
          }
        }

        &.current {
          color: $color-grey-blue;
          border-bottom: 3px solid $color-teal;
          font-weight: 800;
        }
      }

      span {
        display: none;

        @include media('>=tablet') {
          display: inline;
        }
      }
    }
  }
}