header {
  @extend .container;
  @extend .clearfix;
  padding: 10px 0;

  > div {
    float: left;
    width: 56px;
  }

  #logo {
    float: left;
    width: 168px;
    height: 55px;
    border-bottom: 1px solid #eee;

    img {
      position: relative;
      left: -25px;
    }
  }

  nav {
    float: left;
    text-align: right;
    width: $section-width - 168px - 56px;
    padding-top: 28px;
    height: 55px;
    border-bottom: 1px solid #eee;
  }
}
