
// Spacing
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.button,
button {
	margin-bottom: 10px;
}

input,
textarea,
select,
fieldset {
	margin-bottom: 15px;
}

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
	margin-bottom: 25px;
}
