<ul>
  <% @issues.each do |issue| %>
    <li>
      <%= link_to issue do %>
        <strong>[<i>#<%= issue.id %></i>] <%= issue %></strong>
      <% end %>
      <div><%= issue.description %></div>
    </li>
  <% end %>
</ul>