<%= simple_form_for @project do |f| %>
  <div class="form-inputs">
    <div><%= f.input :account, collection: current_user.accountables, selected: current_user, prompt: 'Choose an owner' %></div>
    <div>/</div>
    <div><%= f.input :name %></div>
    <div><%= f.button :submit %></div>
  </div>
<% end %>
