header {
  background: transparent image-url('top_bar_bg.png') repeat-x;
  height: 80px;
  padding-top: 16px;
  border-top: 2px solid $color-teal;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: white;
  z-index: 1;

  a:hover {
    text-decoration: none;
  }

  @import 'header/logo';
  @import 'header/navigation';
  @import 'header/avatar';
  @import 'header/signed_out';
}
