.page_titles {
  margin-bottom: 2rem;
  z-index: 1;

  h1 {
    border-bottom: 12px solid $color-grey-light;
    font-weight: 300;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 16px;
    margin-top: 0;
    width: 100%;
    background-color: white;
  }
}
