header {
  background: transparent image-url('top_bar_bg.png') repeat-x;
  height: 67px;
  border-top: 2px solid $color-teal;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;

  a:hover {
    text-decoration: none;
  }

  .container {
    position: relative;
  }

  @import 'header/logo';
  @import 'header/navigation';
  @import 'header/avatar';
  @import 'header/signed_out';
}
