.page_titles_for_project {
  @extend .page_titles;

  h1 {
    margin-bottom: 0;
  }

  nav {
    background-color: $color-grey-lightest;
    box-shadow: 0px 2px 5px $color-grey-light;

    .container {
      padding-top: 12px;
      padding-bottom: 12px;
    }

    a:hover {
      text-decoration: none;
    }
  }
}