
// Colours
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$color-black: #000 !default;
$color-initial: #fff !default;
$color-primary: #008CD8 !default;
$color-secondary: #606c76 !default;
$color-tertiary: #eeeeee !default;
$color-quaternary: #d1d1d1 !default;

$color-success: #5BBA5A !default;
$color-info: #5BC0DD !default;
$color-warn: #FDECBB !default;
$color-danger: #E05148 !default;


// Measurements
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$section-width: 1080px;
