// Colors
// --------------------------------------------------------

$color-white: #fff;
$color-black: #000;
$color-grey-dark: #666;
$color-grey-blue: #23394F;
$color-grey-light: #eceff1;
$color-grey: #212121;
$color-blue: #039be5;
$color-teal: #26a69a;
