<% page_title 'My Organizations' %>

<% if @organizations.present? %>
  <%= link_to 'New Organization', new_organization_path %>
  <ul>
    <% @organizations.each do |org| %>
      <li><%= link_to org %></li>
    <% end %>
  </ul>
<% else %>
  <h4>You do not currently have any Organizations. <%= link_to 'Create one now...', new_organization_path %></h4>
<% end -%>
