<% page_title @organization %>

<% if @organization.projects.present? %>
  <ul>
    <% @organization.projects.each do |project| %>
      <li><%= link_to project %></li>
    <% end %>
  </ul>
<% else %>
  <h4>This Organization has no projects. <%= link_to 'Create one now...', new_project_path %></h4>
<% end -%>
